name: Solar System workflow
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
jobs:
  unit-testing:
    name: Unit testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4
      - name: setup NodeJs Version -18 
        uses: actions/setup-node@v3
        with:
            node-version: 18
      - name: Install dependecies
        run: npm install

      - name: Unit testing
        run: npm test
    