name: Solar System workflow
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
env:
    MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
    MONGO_USERNAME: ${{vars.MONGO_USERNAME}}
    MONGO_PASSWORD: ${{secrets.MONGO_PASSWORD}}
jobs:
  unit-testing:
    name: Unit testing
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4
      - name: setup NodeJs Version -18 
        uses: actions/setup-node@v3
        with:
            node-version: 18
      - name: Install dependecies
        run: npm install

      - name: Unit testing
        run: npm test
    
      - name: Archive Test Result 
        uses: actions/upload-artifact@v4
        with:
            name: Mocha-Test-Result
            path: test-results.xml
  code-coverage:
    name: code-coverage
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4
      - name: setup NodeJs Version -18 
        uses: actions/setup-node@v3
        with:
            node-version: 18
      - name: Install dependecies
        run: npm install

      - name: Check code coverage
        run: npm run coverage
    
      - name: Archive Test Result 
        uses: actions/upload-artifact@v4
        with:
            name: Code coverage result
            path: coverage
            retention-days: 5